.demo-2__header {
  align-items: center;
  display: flex;
  height: var(--100vh);
  justify-content: center;
}

.demo-2__header__media {
  border-radius: 1rem;
  height: calc(var(--100vh) - 10rem);
  overflow: hidden;
  position: relative;
  width: calc(100vw - 10rem);
}

.demo-2__header__media__image {
  @extend %cover;

  object-fit: cover;
}

.demo-2__seasons {
  height: 86rem;
  position: relative;
  width: 100vw;

  &:after {
    background: $color-white;
    border-radius: 0 0 1rem 1rem;
    content: '';
    height: calc(1rem + 1px);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
  }
}

.demo-2__seasons__media {
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;

  &:nth-child(1) {
    border-radius: 1rem 0 0 1rem;
    height: 28.2rem;
    right: 0;
    top: 18rem;
    width: 41rem;
  }

  &:nth-child(2) {
    height: 27.5rem;
    right: 25.5rem;
    top: 22.8rem;
    width: 21.7rem;
  }

  &:nth-child(3) {
    height: 32.8rem;
    left: 15rem;
    top: 26.8rem;
    width: 25.7rem;
    z-index: 1;
  }

  &:nth-child(4) {
    height: 26rem;
    left: 6rem;
    top: 40.3rem;
    width: 46.2rem;
  }
}

.demo-2__seasons__media__box {
  @extend %cover;

  border-radius: 1rem;
}

.demo-2__seasons__media__image {
  @extend %cover;

  object-fit: cover;
}

.demo-2__media {
  border-radius: 0 0 1rem 1rem;
  height: var(--100vh);
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.demo-2__media__video {
  @extend %cover;

  object-fit: cover;
}

.demo-2__highlight {
  height: var(--100vh);
}

.demo-2__highlight__box {
  align-items: center;
  display: flex;
  height: var(--100vh);
  position: relative;
}

.demo-2__highlight__wrapper {
  display: flex;
  left: 50%;
  position: absolute;
  transform: translateX(-67rem * 0.5);
}

.demo-2__highlight__media {
  border-radius: 1rem;
  height: 50rem;
  overflow: hidden;
  position: relative;
  width: 67rem;

  &:not(:first-child) {
    margin-left: 2rem;
  }
}

.demo-2__highlight__image {
  @extend %cover;

  object-fit: cover;
}
